<app-admin></app-admin>>

<div class="container">
    <div class="header">
      <h2  style="font-weight: 500; font-size: 30px; color: #A68BC3;">All Events</h2>
      <button class="add-student-button" (click)="openAddEventDialog()">Add Event</button>
    </div>
    <mat-table [dataSource]="dataSource" matSort>
      <!-- Define table columns -->
      <ng-container matColumnDef="event_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Event Name </mat-header-cell>
        <mat-cell *matCellDef="let event"> {{ event.event_name }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="school_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> School Name </mat-header-cell>
        <mat-cell *matCellDef="let event"> {{ event.school_name }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="event_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Event Date </mat-header-cell>
        <mat-cell *matCellDef="let event"> {{ event.event_date }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="event_start_time">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Start Time </mat-header-cell>
        <mat-cell *matCellDef="let event"> {{ event.event_start_time }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="event_end_time">
        <mat-header-cell *matHeaderCellDef mat-sort-header> End Time </mat-header-cell>
        <mat-cell *matCellDef="let event"> {{ event.event_end_time }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="max_participants">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Max Participants </mat-header-cell>
        <mat-cell *matCellDef="let event"> {{ event.max_participants }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell *matCellDef="let event">
          <button mat-icon-button color="primary" (click)="openEditDialog(event)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button style="color: #b63f98;" (click)="openRegistrantsComponent(event.id)">
            <mat-icon>visibility</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteEvent(event)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <!-- Specify displayed columns -->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let event; columns: displayedColumns"></mat-row>
    </mat-table>

    <!-- Pagination controls -->
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>

