<app-user></app-user>
<div class="text-white min-h-screen p-8">
    <div class="container mx-auto max-w-7xl">

        <!-- About Us Section -->
        <div id="about-us" class="text-center mb-12">
            <div class="flex items-center justify-center mb-12">
                <img src="https://i.ibb.co/wWcJwkw/EVENT-SNAP.png" alt="photo" class="w-24 h-24 md:w-32 md:h-32 lg:w-48 lg:h-48">
            </div>
            <h1 class="text-5xl font-bold mb-4 text-black"><b>About Us</b></h1>
            <p class="text-xl mb-9 text-black">Welcome to EventSnap, an attendance tracking system for various activities through sophisticated image processing technology. With an automated registration and verification process, EventSnap modernizes and streamlines attendance monitoring, focusing on user-friendliness and efficiency.</p>
        </div>

        <div class="text-center mb-12">
            <h2 class="text-3xl font-bold mb-4 text-black">Meet our Project Team</h2>
            
            <!-- Project Manager -->
            <div class="bg-zinc-800 p-6 rounded-lg shadow-lg mb-8 highlight">
                <h3 class="text-2xl font-semibold mb-4">Project Manager</h3>
                <div class="team-group">
                    <div class="team-member">
                        <img src="https://i.ibb.co/kK0G9Zv/sam.jpg" alt="Mark Samuel A. Bandiola">
                        <p class="text-lg font-bold">Mark Samuel A. Bandiola</p>
                    </div>
                </div>
                <p class="text-zinc-400">Leads the project team, oversees all aspects of the project, and controls and monitors the overall progress of project development and processes.</p>
            </div>
            
             <!-- Business Analyst -->
             <div class="bg-zinc-800 p-6 rounded-lg shadow-lg mb-8">
                <h3 class="text-xl font-semibold mb-4">Business Analyst</h3>
                <div class="team-group">
                    <div class="team-member">
                        <img src="https://i.ibb.co/m94K0xq/pat.jpg" alt="Patricia Alcayaga">
                        <p class="text-lg font-bold">Patricia Alcayaga</p>
                    </div>
                    <div class="team-member">
                        <img src="https://i.ibb.co/s6sZfCv/otep.jpg" alt="Stephany Galo">
                        <p class="text-lg font-bold">Stephany Galo</p>
                    </div>
                </div>
                <p class="text-zinc-400">Responsible for analyzing business processes, working closely with stakeholders to understand their requirements and turning them into actionable plans. Their analytical skills ensure that our system meets the standards our users require.</p>
            </div>
            
            <!-- Solution Architect -->
            <div class="bg-zinc-800 p-6 rounded-lg shadow-lg mb-8">
                <h3 class="text-xl font-semibold mb-4">Solution Architect</h3>
                <div class="team-group">
                    <div class="team-member">
                        <img src="https://i.ibb.co/C0zb77G/Del-Rosario-Garner-Carl-Carpio.jpg" alt="Garner Del Rosario">
                        <p class="text-lg font-bold">Garner Del Rosario</p>
                    </div>
                </div>
                <p class="text-zinc-400">Designs the overall system architecture. With expertise in software design and system integration, they ensure that all components of EventSnap work together seamlessly.</p>
            </div>
            
            <!-- Technical Lead -->
            <div class="bg-zinc-800 p-6 rounded-lg shadow-lg mb-8">
                <h3 class="text-xl font-semibold mb-4">Technical Lead</h3>
                <div class="team-group">
                    <div class="team-member">
                        <img src="https://i.ibb.co/MNjPZhW/godric.jpg" alt="Godric Ramelo">
                        <p class="text-lg font-bold">Godric Ramelo</p>
                    </div>
                    <div class="team-member">
                        <img src="https://i.ibb.co/DRxCCXg/442705752-1089123028856442-8182077092126806212-n.jpg" alt="Al Jhon Dupal">
                        <p class="text-lg font-bold">Al Jhon Dupal</p>
                    </div>
                </div>
                <p class="text-zinc-400">Guides the technical direction of the project, ensuring alignment with project requirements, assisting in project planning, defining technical tasks, and making crucial adjustments necessary for the team’s development progress.</p>
            </div>
            
            <!-- Development Team -->
            <div class="bg-zinc-800 p-6 rounded-lg shadow-lg mb-8">
                <h3 class="text-xl font-semibold mb-4">Development Team</h3>
                <div class="team-group">
                    <div class="team-member">
                        <img src="https://i.ibb.co/kK0G9Zv/sam.jpg" alt="Mark Samuel A. Bandiola">
                        <p class="text-lg font-bold">Mark Samuel A. Bandiola</p>
                    </div>
                    <div class="team-member">
                        <img src="https://i.ibb.co/C0zb77G/Del-Rosario-Garner-Carl-Carpio.jpg" alt="Garner Del Rosario">
                        <p class="text-lg font-bold">Garner Del Rosario</p>
                    </div>
                    <div class="team-member">
                        <img src="https://i.ibb.co/MNjPZhW/godric.jpg" alt="Godric Ramelo">
                        <p class="text-lg font-bold">Godric Ramelo</p>
                    </div>
                    <div class="team-member">
                        <img src="https://i.ibb.co/m94K0xq/pat.jpg" alt="Patricia Alcayaga">
                        <p class="text-lg font-bold">Patricia Alcayaga</p>
                    </div>
                    <div class="team-member">
                        <img src="https://i.ibb.co/s6sZfCv/otep.jpg" alt="Stephany Galo">
                        <p class="text-lg font-bold">Stephany Galo</p>
                    </div>
                    <div class="team-member">
                        <img src="https://i.ibb.co/FXdQBMt/jhess.jpg" alt="Justine Jhess Dumenden">
                        <p class="text-lg font-bold">Justine Jhess Dumenden</p>
                    </div>
                    <div class="team-member">
                        <img src="https://i.ibb.co/k5W3Q7d/charles.jpg" alt="Charles Siguancia">
                        <p class="text-lg font-bold">Charles Siguancia</p>
                    </div>
                    <div class="team-member">
                        <img src="https://i.ibb.co/q14V9jk/download-1.jpg" alt="Jhon Lloyd Turqueza">
                        <p class="text-lg font-bold">Jhon Lloyd Turqueza</p>
                    </div>
                    <div class="team-member">
                        <img src="https://i.ibb.co/DRxCCXg/442705752-1089123028856442-8182077092126806212-n.jpg" alt="Al Jhon Dupal">
                        <p class="text-lg font-bold">Al Jhon Dupal</p>
                    </div>
                    <div class="team-member">
                        <img src="https://i.ibb.co/rKhKGZs/dabu.jpg" alt="Edison Dabu">
                        <p class="text-lg font-bold">Edison Dabu</p>
                    </div>
                </div>
                <p class="text-zinc-400">A group of developers who brought EventSnap to life. They are responsible for coding, implementing system features, and ensuring the system runs smoothly. They are the backbone of the project development.</p>
            </div>
            
            <!-- Testing Team -->
            <div class="bg-zinc-800 p-6 rounded-lg shadow-lg mb-8">
                <h3 class="text-xl font-semibold mb-4">Testing Team</h3>
                <div class="team-group">
                    <div class="team-member">
                        <img src="https://i.ibb.co/rKhKGZs/dabu.jpg" alt="Edison Dabu">
                        <p class="text-lg font-bold">Edison Dabu</p>
                    </div>
                    <div class="team-member">
                        <img src="https://i.ibb.co/k5W3Q7d/charles.jpg" alt="Charles Joy Siguancia">
                        <p class="text-lg font-bold">Charles Joy Siguancia</p>
                    </div>
                    <div class="team-member">
                        <img src="https://i.ibb.co/q14V9jk/download-1.jpg" alt="Jhon Lloyd Turqueza">
                        <p class="text-lg font-bold">Jhon Lloyd Turqueza</p>
                    </div>
                </div>
                <p class="text-zinc-400">Ensures the quality and reliability of EventSnap. They perform testing procedures to identify and fix any bugs, ensuring that our users have the best experience. Their attention to detail guarantees our system meets the highest quality standards.</p>
            </div>
            
            <!-- Deployment Team -->
            <div class="bg-zinc-800 p-6 rounded-lg shadow-lg mb-8">
                <h3 class="text-xl font-semibold mb-4">Deployment Team</h3>
                <div class="team-group">
                    <div class="team-member">
                        <img src="https://i.ibb.co/kK0G9Zv/sam.jpg" alt="Mark Samuel A. Bandiola">
                        <p class="text-lg font-bold">Mark Samuel A. Bandiola</p>
                    </div>
                    <div class="team-member">
                        <img src="https://i.ibb.co/MNjPZhW/godric.jpg" alt="Godric Ramelo">
                        <p class="text-lg font-bold">Godric Ramelo</p>
                    </div>
                    <div class="team-member">
                        <img src="https://i.ibb.co/C0zb77G/Del-Rosario-Garner-Carl-Carpio.jpg" alt="Garner Del Rosario">
                        <p class="text-lg font-bold">Garner Del Rosario</p>
                    </div>
                </div>
                <p class="text-zinc-400">Manages the rollout of EventSnap to our users. They handle installation, configuration, and deployment processes, making sure the system is up and running smoothly for all clients. Their expertise ensures a hassle-free implementation.</p>
            </div>
            <div class="flex justify-center mt-12">
                <a routerLink="/" class="bg-blue-500 text-white px-6 py-3 rounded-lg">Return</a>
            </div>
        </div>
    </div>
</div>