<div class="area">
  <div class="container z-10 my-[250px] m-auto w-auto">
    <!-- Modal Content -->
    <div class="modal-content d-flex">
      <!-- Left Side: Big Image -->
      <div class="modal-left">
        <img 
          [src]="imageUrl" 
          alt="Event Image" 
          class="big-image" 
        />
      </div>
  
      <!-- Right Side: Details -->
      <div class="modal-right">
        <h3 class="mb-3">Submission Details</h3>
        <p><strong>Student ID:</strong> {{ submissionData.student_id }}</p>
        <p><strong>Event Name:</strong> {{ submissionData.event_name }}</p>
        <p><strong>Last Name:</strong> {{ submissionData.last_name }}</p>
        <p><strong>Program:</strong> {{ submissionData.program }}</p>
        <p><strong>Event Name:</strong> {{ submissionData.event_name }}</p>
        <p><strong>Timestamp:</strong> {{ submissionData.timestamp }}</p>
        <p [ngClass]="{
          'text-orange-500': submissionData.status === 'Pending',
          'text-green-500': submissionData.status === 'Approved',
          'text-red-500': submissionData.status === 'Rejected'
        }">
        <strong>Status:</strong>
        {{  submissionData.status === 'Pending' ? 'Pending for approval' : 
            submissionData.status === 'Approved' ? 'Attendance is Approved' : 
            submissionData.status === 'Rejected' ? 'Attendance is Rejected' : 
            'Unknown Status' }}
      </p>             
      <button class="back-btn p-4" (click)="goBack()">Back</button>
      </div>
    </div>
  </div>
  
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
