.container {
    background-color: var(--secondary-color);
    border-radius: 12px;
    padding: 2rem;
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    transition: all 0.3s ease;
  }
  
  .modal-content {
    display: flex;
    width: 100%;
  }
  
  .modal-left {
    flex: 1;
    max-width: 50%;
  }
  
  .big-image {
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
  }
  
  .modal-right {
    flex: 1;
    padding-left: 1.5rem;
  }
  
  .modal-right h3 {
    margin-bottom: 1.5rem;
  }
  
  .modal-right p {
    margin-bottom: 0.8rem;
    font-size: 1.1rem;
  }
  
  .back-btn {
    width: 100px;
    margin-top: 0;
    background-color: #8264a1;
    border: none;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    align-self: flex-start;
    margin-top: 10px;
    transition: all 0.3s ease;
    font-weight: 500;
  }
  
  .back-btn:hover:not(:disabled) {
    background-color: #A68BC3;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(166, 139, 195, 0.3);
  }