<app-user></app-user>
<div class="container">
    <div class="header">
      <h2>Attendance Data</h2>
    </div>
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="student_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Student ID </mat-header-cell>
        <mat-cell *matCellDef="let attendance"> {{ attendance.student_id }} </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="last_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
        <mat-cell *matCellDef="let attendance"> {{ attendance.last_name }} </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="program">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Program </mat-header-cell>
        <mat-cell *matCellDef="let attendance"> {{ attendance.program }} </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="event_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Event Name </mat-header-cell>
        <mat-cell *matCellDef="let attendance"> {{ attendance.event_name }} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="event_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Event Date </mat-header-cell>
        <mat-cell *matCellDef="let attendance"> {{ attendance.event_date }} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="timestamp">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Timestamp </mat-header-cell>
        <mat-cell *matCellDef="let attendance"> {{ attendance.timestamp }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="image">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Image </mat-header-cell>
        <mat-cell *matCellDef="let attendance">
          <img [src]="attendance.image" alt="Attendance Image" style="max-width: 100px;">
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>


<div class="container">
  <div class="header">
    <h2>Approved Attendance</h2>
  </div>
  <mat-table [dataSource]="approvedAttendanceDataSource" matSort>
    <ng-container matColumnDef="student_id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Student ID </mat-header-cell>
      <mat-cell *matCellDef="let attendance"> {{ attendance.student_id }} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="last_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
      <mat-cell *matCellDef="let attendance"> {{ attendance.last_name }} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="program">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Program </mat-header-cell>
      <mat-cell *matCellDef="let attendance"> {{ attendance.program }} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="event_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Event Name </mat-header-cell>
      <mat-cell *matCellDef="let attendance"> {{ attendance.event_name }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="event_date">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Event Date </mat-header-cell>
      <mat-cell *matCellDef="let attendance"> {{ attendance.event_date }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="timestamp">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Timestamp </mat-header-cell>
      <mat-cell *matCellDef="let attendance"> {{ attendance.timestamp }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="image">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Image </mat-header-cell>
      <mat-cell *matCellDef="let attendance">
        <img [src]="attendance.image" alt="Attendance Image" style="max-width: 100px;">
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="approvedAttendanceDisplayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: approvedAttendanceDisplayedColumns;"></mat-row>
  </mat-table>
</div>